*, a, img {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

a:hover, a:focus {
  text-decoration: none;
}

::-moz-selection {
  background: #333;
  color: white;
  text-shadow: none;
}

::selection {
  background: #333;
  color: white;
  text-shadow: none;
}

blockquote {
  font-style: italic;
  margin-left: 0;
  border-left: none;
  line-height: 1.4;
  font-weight: normal;
}

/*
* A better looking default horizontal rule
*/
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.centered {
  text-align: center;
}

.mt {
  margin-top: 70px;
}

.mb {
  margin-bottom: 70px;
}

/* ==========================================================================
General styles
========================================================================== */
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #282828;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
  color: #282828;
}

p {
  margin: 30px 0;
}

#works h3 {
  margin-top: -43px;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  background: #282828;
  padding: 10px 20px;
  display: table;
}

.container h2 {
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 700;
}

/* ==========================================================================
Nav Bar and scrolling up effect
========================================================================== */
.navbar-custom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  letter-spacing: 2px;
}

.navbar-custom .navbar-brand {
  font-weight: 700;
}

.navbar-custom .nav li a {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}

@media only screen and (min-width: 768px) {
  .navbar-custom {
    background: 0 0;
    border-bottom: 1px solid transparent;
  }

  .navbar-custom .navbar-brand {
    color: white;
    padding: 20px;
  }

  .navbar-custom .navbar-brand:hover,
  .navbar-custom .navbar-brand:focus {
    color: rgba(255, 255, 255, 0.8);
  }

  .navbar-custom .nav li:not(.rmp-btn-green) a {
    color: white;
    padding: 20px;
  }

  .navbar-custom.is-fixed .nav li a {
    color: white;
    padding: 20px;
  }

  .navbar-custom .nav .dropdown-menu li a {
    color: #555;
    padding: 20px;
  }

  .navbar-custom .nav li a:hover,
  .navbar-custom .nav li a:focus {
    color: #cccccc;
  }
}
@media only screen and (min-width: 1170px) {
  .navbar-custom {
    padding: 10px 0;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .navbar-custom.is-fixed {
    position: fixed;
    top: -85px;
    padding: 10px 0;
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #f2f2f2;
    -webkit-transition: -webkit-transform .3s;
    transition: transform 0.3s;
  }

  .navbar-custom.is-fixed .navbar-brand {
    color: #282828;
  }

  .navbar-custom.is-fixed .navbar-brand:hover,
  .navbar-custom.is-fixed .navbar-brand:focus {
    color: #777777;
  }

  .navbar-custom.is-fixed .nav li a {
    color: #282828;
  }

  .navbar-custom.is-fixed .nav li a:hover,
  .navbar-custom.is-fixed .nav li a:focus {
    color: #777777;
  }

  .navbar-custom.is-visible {
    -webkit-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ccc;
  background-color: transparent;
}

.navbar-custom.is-fixed .active a {
  color: #777777 !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
}

.navbar-toggle .icon-bar {
  width: 24px;
  height: 3px;
}

#social {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: white;
}

a .fa-stack {
  color: #999;
}

a .fa-circle {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

a:hover .fa-circle {
  color: #282828;
}

.overlay {
  background: rgba(105, 78, 160, 0.9);
  padding: 150px 0;
}

.pattern,
.pattern-purple {
  background-position: center top;
  background-repeat: repeat;
}

.pattern {
  padding: 40px 0;
  background-image: url(../img/pattern-block.png);
}

.pattern-purple {
  background-image: url(../img/pattern-block-purple.png);
}

#photowrap {
  background-image: url(../img/photowrap.jpg);
}

.allwrap {
  background-attachment: fixed;
  background-position: center center;
  width: 100%;
  -webkit-background-size: cover;
  background-size: cover;
}

#headerwrap h1 {
  color: white;
  padding: 0px;
  margin: 0;
  font-size: 70px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}
#headerwrap p {
  font-size: 26px;
  padding-top: 30px;
  color: white;
}
#headerwrap .container {
  margin-top: 50px;
}

@media (max-width: 768px) {
  #blogwrap h1, #aboutwrap h1, #headerwrap h1, #workwrap h1 {
    font-size: 40px;
  }

  .overlay {
    padding: 130px 0 100px;
  }
}
.allwrap p {
  margin: 0;
}
.allwrap a {
  color: white;
}

#blogwrap h4, #headerwrap h4, #workwrap h4 {
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 300;
}

.single #blogwrap {
  text-align: left;
}

.social {
  height: 30px;
  width: 30px;
  line-height: 30px;
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
}
.social.offset {
  position: relative;
  background: transparent;
  border: 2px solid #000;
  z-index: 1;
  border-radius: 25px;
  color: white;
  text-align: center;
}
.social.offset:before {
  content: ' ';
  display: block;
  position: absolute;
  left: -2px;
  top: 2px;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.7;
  border-radius: 25px;
}
.social.linkedin::before, .social.facebook::before {
  background: #4272b8;
}

/* TODO: should do something about repeating btn styles */
.rmp-btn {
  border: 1px solid white;
  width: auto;
  display: inline-block;
  padding: 15px 25px;
  border-radius: 45px;
}

.rmp-btn-green {
  position: relative;
  background: transparent;
  border: 2px solid #000;
  z-index: 1;
  border-radius: 25px;
  text-transform: uppercase;
  color: white;
  height: 61px;
  width: 343px;
  line-height: 61px;
  padding: 15px 25px;
}
.rmp-btn-green:before {
  content: ' ';
  display: block;
  position: absolute;
  left: -4px;
  top: 4px;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.7;
  background: #008036;
  border-radius: 25px;
}
.rmp-btn-green a {
  text-align: center;
  position: relative;
  color: white;
}

header .rmp-btn-green {
  height: 40px;
  width: 150px;
  line-height: 10px;
  padding: 0;
  display: inline-block;
}
header .rmp-btn-green a {
  padding: 10px;
  color: white !important;
  text-decoration: none;
}

#headerwrap .rmp-btn-green {
  top: 50px;
  padding: 19px 52px;
  border-radius: 45px;
}
#headerwrap .rmp-btn-green a {
  font-weight: bold;
  font-size: 26px;
}
#headerwrap .rmp-btn-green:before {
  border-radius: 45px;
}

.accent-link {
  font-weight: bold;
  color: #339a65 !important;
}

/************************
* HOMEPAGE
************************/
.page-home #headerwrap .overlay,
.home #headerwrap .overlay {
  height: 100vh;
}

/*******************
* PHOTOWRAP SECTION
*******************/
#photowrap {
  padding: 150px 0;
}

#call-to-action a {
  display: inline-block;
}
#call-to-action .call-left,
#call-to-action .call-right {
  height: 400px;
}
#call-to-action .call-left p,
#call-to-action .call-right p {
  color: white;
}
#call-to-action .call-left {
  background: #694ea0;
}
#call-to-action .call-right {
  background: #282828;
  padding-right: 0;
}

/***********************
* COMPATIBILITY SECTION
***********************/
#compatibility {
  padding-bottom: 100px;
}
#compatibility h2 {
  color: #745da5;
}
#compatibility p {
  font-style: italic;
}
#compatibility .devices {
  border-right: 3px dashed #745da5;
}
#compatibility .devices span {
  color: #9e9e9e;
  padding-left: 15px;
}
#compatibility .browsers img {
  width: 50px;
}

/********************
* PRE-FOOTER SECTION
********************/
#pre-footer {
  position: relative;
  background: whitesmoke;
  padding: 60px 0 50px 0;
  font-size: 16px;
  -webkit-box-shadow: 0 -2px 5px #282828;
  box-shadow: 0 -2px 5px #282828;
}
#pre-footer ul {
  padding-left: 0;
  list-style-type: none;
  margin-top: 24px;
}
#pre-footer ul li {
  line-height: 1.8;
}
#pre-footer ul li a {
  color: #282828;
  text-decoration: none;
}
#pre-footer h3 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}
#pre-footer:before {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 90%;
  content: '';
  background: whitesmoke;
  background-image: url(../img/coin.png);
  background-repeat: no-repeat;
  background-position: center center;
}
#pre-footer:hover:before {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/****************
* FOOTER SECTION
****************/
footer {
  background: #282828;
  color: #9e9e9e;
  text-align: center;
  padding: 2px 0;
}

/* TODO: Sort out following page partials */
.page-home #photowrap h2,
.page-home #call-to-action h2, .page-teachers #photowrap h2,
.page-teachers #call-to-action h2, .page-parents #photowrap h2,
.page-parents #call-to-action h2, .page-stories #photowrap h2,
.page-stories #call-to-action h2 {
  color: white;
  font-style: italic;
  text-transform: none;
  font-weight: normal;
}
.page-home #call-to-action, .page-teachers #call-to-action, .page-parents #call-to-action, .page-stories #call-to-action {
  background: #282828;
  padding: 30px 0 100px 0;
}
.page-home #content-home, .page-teachers #content-home, .page-parents #content-home, .page-stories #content-home {
  background: whitesmoke;
  padding-top: 30px;
}
.page-home #content-home-2, .page-teachers #content-home-2, .page-parents #content-home-2, .page-stories #content-home-2 {
  background: white;
  padding-top: 30px;
}
.page-home #content-home-2 h2, .page-teachers #content-home-2 h2, .page-parents #content-home-2 h2, .page-stories #content-home-2 h2 {
  margin-bottom: 30px;
}
.page-home #content-home ul,
.page-home #content-home-2 ul, .page-teachers #content-home ul,
.page-teachers #content-home-2 ul, .page-parents #content-home ul,
.page-parents #content-home-2 ul, .page-stories #content-home ul,
.page-stories #content-home-2 ul {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
}
.page-home #content-home ul li,
.page-home #content-home-2 ul li, .page-teachers #content-home ul li,
.page-teachers #content-home-2 ul li, .page-parents #content-home ul li,
.page-parents #content-home-2 ul li, .page-stories #content-home ul li,
.page-stories #content-home-2 ul li {
  padding-left: 60px;
  margin-top: 30px;
  line-height: 30px;
  background-image: url(../img/coin.png);
  background-repeat: no-repeat;
  -webkit-background-size: 30px 30px;
  background-size: 30px 30px;
  background-position: 10px;
}

.page-home #headerwrap img {
  display: block;
  top: 100px;
  position: relative;
  margin: 0 auto;
}

.page-contact section.container {
  padding-bottom: 100px;
}

.page-contact .contact-info img {
  border-radius: 90px;
  height: 100px;
  width: 100px;
  border: 6px solid #eee;
  -webkit-transform: translate(-20px, 0);
  -ms-transform: translate(-20px, 0);
  transform: translate(-20px, 0);
}
.page-contact .contact-info h4 {
  text-transform: uppercase;
}
.page-contact .contact-info a {
  display: inline-block;
}
.page-contact .contact-info .contact-email {
  font-weight: bold;
  color: #339a65;
}
.page-contact .contact-info .contact-phone {
  margin-top: 10px;
}

.page-about #call-to-action h2 {
  color: white;
  text-transform: uppercase;
}
.page-about #call-to-action p {
  font-weight: 400;
}
.page-about #call-to-action a {
  font-weight: 800;
  color: white;
  display: block;
}
.page-about #call-to-action a:nth-of-type(2) {
  margin-top: 10px;
  text-decoration: underline;
}
.page-about #content-team {
  background: whitesmoke;
}
.page-about #wrapper-team h2 {
  margin-bottom: 130px;
}
.page-about .team-member {
  background: whitesmoke;
  padding: 100px 30px 40px 30px;
  font-weight: 300;
  height: 500px;
}
.page-about .team-member h3 {
  font-size: 22px;
  text-transform: uppercase;
}
.page-about .team-member h4 {
  font-weight: normal;
}
.page-about .team-member .social {
  margin-top: 16px;
  margin-bottom: 16px;
}
.page-about .team-member:before {
  width: 150px;
  height: 150px;
  position: absolute;
  top: -60px;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  content: '';
  background: whitesmoke;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: contain;
  background-size: contain;
  border-radius: 90%;
  border: 10px solid whitesmoke;
}
.page-about .team-member.louise:before {
  background-image: url(../img/contact/Louise-rounded.png);
}
.page-about .team-member.kenneth:before {
  background-image: url(../img/contact/Kenneth-rounded.png);
}
.page-about .team-member.michael:before {
  background-image: url(../img/contact/Michael-rounded.png);
}

.quote-card {
  height: auto;
  width: auto;
  line-height: 30px;
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
  padding-bottom: 40px;
}
.quote-card.offset {
  position: relative;
  background: transparent;
  border: 2px solid #000;
  z-index: 1;
  color: white;
  text-align: center;
}
.quote-card.offset:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 6px;
  top: 6px;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.7;
  background: #07449f;
}
.quote-card h4 {
  text-transform: uppercase;
  color: white;
}
.quote-card p {
  margin: 0 0 25px 0;
  font-size: 18px;
  font-weight: 100;
}
.quote-card img {
  width: 100px;
  text-align: center;
  margin: 40px auto;
  border: 6px solid white;
  border-radius: 90%;
}

.speech-bubble {
  height: auto;
  width: auto;
  line-height: 1.5;
  display: inline-block;
  font-size: 18px;
  font-style: italic;
  padding: 30px;
}
.speech-bubble.offset {
  position: relative;
  background: transparent;
  border: 2px solid #000;
  z-index: 1;
  color: white;
  text-align: center;
}
.speech-bubble.offset:before {
  content: ' ';
  display: block;
  position: absolute;
  left: -6px;
  top: 6px;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.7;
  background: #008036;
}
.speech-bubble.offset:after {
  content: '';
  position: absolute;
  bottom: -62px;
  left: 130px;
  border-width: 60px 65px 0 0;
  border-style: solid;
  border-color: #008036 transparent;
  display: block;
  width: 0;
  opacity: 0.7;
}

.page-parents .speech-bubble {
  margin-top: 140px;
}
.page-parents .speech-bubble.offset:after {
  border-width: 60px 0 0 60px;
}

.page-try #wrapper-team h2 {
  margin-bottom: 25px;
}
.page-try #wrapper-team .instruction {
  background: whitesmoke;
  height: 420px;
  font-size: 16px;
  padding: 35px;
}
.page-try #wrapper-team .instruction.ipad {
  color: white;
  background: url(../img/instructions/photo-tip.jpg);
  -webkit-background-size: contain;
  background-size: contain;
}
.page-try #wrapper-team .instruction.ipad p {
  font-style: italic;
}
.page-try #wrapper-team .instruction.ipad h3 {
  text-transform: uppercase;
  color: white;
  margin-bottom: 30px;
}
.page-try #wrapper-team .instruction img {
  margin-bottom: 25px;
  width: 150px;
}

.page-stories {
  background: whitesmoke;
}
.page-stories .nav-pills li {
  background: #745da5;
}
.page-stories .nav-pills li.active a {
  background: #745da5;
}
.page-stories .nav-pills li a {
  color: white;
  padding: 15px;
}
.page-stories .nav-pills li:first-of-type {
  border-radius: 90px 0 0 90px;
  border-right: 2.5px solid white;
}
.page-stories .nav-pills li:first-of-type.active a, .page-stories .nav-pills li:first-of-type > a:hover, .page-stories .nav-pills li:first-of-type > a:focus {
  border-radius: 90px 0 0 90px;
}
.page-stories .nav-pills li:nth-of-type(2) {
  border-radius: 0 0 0 0;
  border-right: 2.5px solid white;
  border-left: 2.5px solid white;
}
.page-stories .nav-pills li:nth-of-type(2).active a, .page-stories .nav-pills li:nth-of-type(2) > a:hover, .page-stories .nav-pills li:nth-of-type(2) > a:focus {
  border-radius: 0 0 0 0;
}
.page-stories .nav-pills li:last-of-type {
  border-radius: 0 90px 90px 0;
  border-left: 2.5px solid white;
}
.page-stories .nav-pills li:last-of-type.active a, .page-stories .nav-pills li:last-of-type > a:hover, .page-stories .nav-pills li:last-of-type > a:focus {
  border-radius: 0 90px 90px 0;
}
.page-stories .nav > li > a:hover,
.page-stories .nav > li > a:active,
.page-stories .nav > li > a:focus {
  background: #47356c;
}
.page-stories .story {
  background: white;
  padding: 35px;
  margin-top: 35px;
}
.page-stories .story:hover {
  background: whitesmoke;
}
.page-stories .story h2 {
  font-size: 20px;
}
.page-stories .story p {
  font-style: italic;
}
.page-stories .story a {
  color: #282828;
  background: white;
  background-image: url(../img/coin.png);
  -webkit-background-size: 13%;
  background-size: 13%;
  background-position: 10px;
  background-repeat: no-repeat;
  display: block;
  padding: 8px;
  margin: 0 auto 15px;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid #282828;
  border-radius: 90px;
  width: 80%;
}
.page-stories .story a.pdf {
  background-image: url(../img/icon-pdf.png);
}
.page-stories .story a.audio {
  background-image: url(../img/icon-audio.png);
}
.page-stories .story a.app {
  margin-bottom: 0;
  background-image: none;
}
.page-stories .dl-all {
  color: #282828;
  background: white transparent;
  -webkit-background-size: 35px;
  background-size: 35px;
  background-position: 16px;
  background-repeat: no-repeat;
  display: block;
  padding: 10px 10px 10px 80px;
  margin: 0 auto;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  border: 2px solid #282828;
  border-radius: 90px;
  width: 100%;
}
.page-stories .dl-all.pdf {
  background-image: url(../img/icon-pdf.png);
}
.page-stories .dl-all.audio {
  background-image: url(../img/icon-audio.png);
}

.dl-all:hover,
.story a:hover {
  background-color: #745da5;
  color: white;
  -webkit-background-size: 20%;
  background-size: 20%;
  background-position: 6px;
}

.page-intro #headerwrap h1, .page-intro #headerwrap h2, .page-intro #headerwrap p {
  color: #282828;
}
.page-intro #headerwrap p {
  font-style: italic;
  font-size: 18px;
  padding-top: 10px;
}
.page-intro #headerwrap .intro-card:hover h2, .page-intro #headerwrap .intro-card:hover p {
  color: white;
}
.page-intro #headerwrap img {
  top: auto;
  width: 150px;
  margin-bottom: 50px;
}
.page-intro #headerwrap .overlay {
  background-color: transparent;
}
.page-intro.page-home #headerwrap .overlay {
  height: 90vh;
}
@media (max-width: 992px) {
  .page-intro.page-home #headerwrap .overlay {
    height: 100%;
    padding-bottom: 100px;
  }
}

.intro-card {
  background: whitesmoke;
  padding: 210px 0 30px 0;
}
.intro-card a {
  border: 2px solid #282828;
  border-radius: 90px;
  padding: 28px;
  font-size: 22px;
  color: white;
  text-transform: uppercase;
  display: block;
  width: 33%;
  margin: 10px auto 0 auto;
  font-weight: bold;
  position: relative;
  z-index: 5;
}
.intro-card.right a:after, .intro-card.left a:after {
  content: 'ENTER';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 2px;
  right: 2px;
  padding-top: 10px;
  border-radius: 90px;
  z-index: 2;
}
.intro-card.left a:after {
  background: #745da5;
  opacity: 0.7;
}
.intro-card.right a:after {
  background: #339a65;
  opacity: 0.7;
}
.intro-card:before {
  content: '';
  width: 170px;
  height: 170px;
  display: inline-block;
  position: absolute;
  top: 30px;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: contain;
  background-size: contain;
}
.intro-card.left:before {
  background-image: url(../img/intro-student.png);
}
.intro-card.right:before {
  background-image: url(../img/intro-teacher.png);
}
.intro-card.right:hover {
  background-color: #339a65;
}
.intro-card.right:hover a:after {
  background-color: #25714a;
}
.intro-card.left:hover {
  background-color: #745da5;
}
.intro-card.left:hover a:after {
  background-color: #47356c;
}

/* eo page partials */
/*************************
* TESTIMONIALS on HOMEPAGE
**************************/
#testimonials .single_wcp_testimonial p {
  font-style: italic;
  font-size: 24px;
}
#testimonials .single_wcp_testimonial h3 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
}

div.owl-carousel.owl-theme .single_wcp_testimonial {
  text-align: center;
  min-height: 330px;
}
div.owl-carousel.owl-theme .single_wcp_testimonial img {
  border-radius: 500px;
  -webkit-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
  border: 3px solid #282828;
  height: 80px;
  width: 80px;
}

@-webkit-keyframes bounce {
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate(-50%, -50%) translate3d(0, 0, 0);
    transform: translate(-50%, -50%) translate3d(0, 0, 0);
  }

  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate(-50%, -50%) translate3d(0, -30px, 0);
    transform: translate(-50%, -50%) translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate(-50%, -50%) translate3d(0, -15px, 0);
    transform: translate(-50%, -50%) translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate(-50%, -50%) translate3d(0, -4px, 0);
    transform: translate(-50%, -50%) translate3d(0, -4px, 0);
  }
}

@keyframes bounce {
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate(-50%, -50%) translate3d(0, 0, 0);
    transform: translate(-50%, -50%) translate3d(0, 0, 0);
  }

  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate(-50%, -50%) translate3d(0, -30px, 0);
    transform: translate(-50%, -50%) translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate(-50%, -50%) translate3d(0, -15px, 0);
    transform: translate(-50%, -50%) translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate(-50%, -50%) translate3d(0, -4px, 0);
    transform: translate(-50%, -50%) translate3d(0, -4px, 0);
  }
}
