// Color variables
$white:                  #ffffff;
$dark-white:             #f5f5f5;

$grey:                   #9e9e9e;
$dark-grey:              #282828;
$grey-highlight:         #e8e8e8;

$green:                  #339a65;
$dark-green:             #25714a;
$green-transparent:      #008036;

$blue:                   #4272b8;
$dark-blue:              #00309e;
$blue-transparent:       #07449F;

$purple:                 #50397F;
$dark-purple:            #47356c;

$light-red:              #ff6052; 
$dark-red:               #d75145;



// Sizing
$padding-section:        80px 0 140px 0;
$pt:                     150px;
$pb:                     100px;

$margin-mobile:          25px;
$mt:                     70px;
$mb:                     70px;


// Screen sizes, matching Bootstrap's
$xs:                     480px;
$small:                  768px;
$medium:                 992px;
$large:                  1200px;
$xl:                     1920px;