@import 'vars';

*, a, img {
    transition: all .2s ease-in-out;
}

a {
    color: $green;
    
    &:hover, &:focus {
        text-decoration: none;
    }
    
    &:hover {
        color: $dark-green;
    }
}

::-moz-selection {
    background: #333;
    color: $white;
    text-shadow: none;
}

::selection {
    background-color: rgba(51, 154, 101, .7);
    color: $white;
    text-shadow: none;
}

blockquote {
    font-style: italic;
    margin-left: 0;
    border-left: none;
    line-height: 1.4;
    font-weight: normal;
}
/*
* A better looking default horizontal rule
*/

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

// TODO: merge .centered and .text-center
.centered {
    text-align: center
}

.mt {
    margin-top: 70px;
}

.mb {
    margin-bottom: 70px;
}


/* ==========================================================================
General styles
========================================================================== */


body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: $dark-grey;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
    color: $dark-grey;
}

p {
    margin: 30px 0;
}

#works h3 {
    margin-top: -43px;
    color:$white;
    text-transform: uppercase;
    font-size: 12px;
    background: $dark-grey;
    padding: 10px 20px;
    display: table;
}


.container h2 {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 700;
}

/* ==========================================================================
Nav Bar and scrolling up effect
========================================================================== */
.navbar-custom {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    letter-spacing: 2px;
    padding: 40px !important;
}

a.navbar-brand {
    background-image: url(../img/logo-white.png);
    width: 80px;
    height: 54px;
}
.is-fixed a.navbar-brand {
    background-image: url(../img/logo-black.png);
}
.navbar-custom .navbar-collapse {
    padding: 0 20px;
}

.navbar-custom #menu-main-navigation .rmp-btn {
    top: 5px;
    margin-right: 25px;
    
    &:last-of-type {
        margin-right: 0;
    }
    
    a {
        padding: 10px 15px;
    }
}

.navbar-custom .navbar-brand {
    font-weight: 700
}

.navbar-custom .nav li a {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

@media only screen and (min-width:768px) {
    .navbar-custom {
        background: 0 0;
        border-bottom: 1px solid transparent;
    }
    
    .navbar-custom .navbar-collapse {
        padding: 0;
    }
    
    .navbar-custom .navbar-brand {
        color: $white;
        padding: 20px;
            
        img {
            transform: translateY(-50%);
        }
            
    }
    .navbar-default .navbar-nav>li>a {
        color: $white;
    }
    .navbar-custom .navbar-brand:hover,
    .navbar-custom .navbar-brand:focus {
        color: rgba(255, 255, 255, .8)
    }
    .navbar-custom .nav li:not(.rmp-btn.green) a {
        color: $white;
        padding: 20px
    }
    .navbar-custom.is-fixed .nav li a {
        color: $white;
        padding: 20px
    }
    .navbar-custom .nav .dropdown-menu li a {
        color: #555;
        padding: 20px
    }
    .navbar-custom .nav li a:hover,
    .navbar-custom .nav li a:focus {
        color: $green;
    }
}

@media only screen and (min-width:1170px) {
    .navbar-custom {
        padding: 10px 0;
        transition: background-color .3s;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden
    }
    .navbar-custom.is-fixed {
        position: fixed;
        top: -141px;
        padding: 10px 0;
        background-color: rgba(255, 255, 255, .9);
        border-bottom: 1px solid #f2f2f2;
        transition: transform .3s
    }
    .navbar-custom.is-fixed .navbar-brand {
        color: $dark-grey
    }
    .navbar-custom.is-fixed .navbar-brand:hover,
    .navbar-custom.is-fixed .navbar-brand:focus {
        color: #777
    }
    .navbar-custom.is-fixed .nav li a {
        color: $dark-grey
    }
    .navbar-custom.is-fixed .nav li a:hover,
    .navbar-custom.is-fixed .nav li a:focus {
        color: #777
    }
    .navbar-custom.is-visible {
        transform: translate3d(0, 100%, 0)
    }

}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #ccc;
    background-color: transparent;
}

.navbar-custom.is-fixed .active a {
    color: #777!important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-toggle .icon-bar {
    width: 24px;
    height: 3px;
}

#social {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: $white;
}

a .fa-stack { color:#999; }
a .fa-circle {
    transition: all .2s ease-in-out;
}
a:hover .fa-circle  { color: $dark-grey;}

.overlay {
    background: rgba(80, 57, 127, .95);
    padding: 150px 0;
}

.pattern,
.pattern-purple {
    background-position: center top;
    background-repeat: repeat;
}
.pattern {
    padding: 40px 0;
    background-image: url(../img/pattern-block.png);
}
.pattern-purple {
    background-image: url(../img/pattern-block-purple.png);
}

#photowrap { background-image: url(../img/photowrap.jpg); }

.allwrap {
    background-attachment: fixed;
    background-position: center center;
    width: 100%;
    background-size: cover;
}

#headerwrap {
    h1 {
        color: $white;
        padding: 0px;
        margin: 0;
        font-size: 70px;
        font-weight: 400;
        font-family: 'Open Sans', sans-serif;
    }
    
    p {
        font-size: 24px;
        padding-top: 30px;
        color: $white;
        font-weight: 300;
    }
    
    .container {
        margin-top: 50px;
    }
}

@media (max-width: 768px) {
    #blogwrap h1, #aboutwrap h1, #headerwrap h1, #workwrap h1 {
        font-size: 40px;
    }
    
    .overlay {
        padding: 130px 0 100px;
    }
}

.allwrap  {
    p {
        margin: 0;
    }
    
    a {
        color:$white;
    }
}


#blogwrap h4, #headerwrap h4, #workwrap h4 {
    color: $white;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 300;
}

.single #blogwrap {
    text-align:left;
}



.social {
    height: 30px;
    width: 30px;
    line-height: 30px;
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    
    &.offset {
        position: relative;
        background: transparent;
        border: 2px solid #000;
        z-index: 1;
        border-radius: 25px;
        color: $white;
        text-align: center;

        &:before {
            content: ' ';
            display: block;
            position: absolute;
            left: -2px;
            top: 2px;
            width: 100%;
            height: 100%;
            z-index: -1;
            opacity: 0.7;
            border-radius: 25px;
        }
    }
    
    &.linkedin, &.facebook {
        &::before {
            background: $blue;
        }
    }
}



/* TODO: should do something about repeating btn styles */

.rmp-btn {
    width: auto;
    display: inline-block;
    border-radius: 45px;
    position: relative;
    background: transparent;
    z-index: 1;
    border-radius: 25px;
    text-transform: uppercase;
    color: $white;
    background: transparent;
    
    a {
        text-align: center;
        position: relative;
        color: $white !important;
        width: 100%;
        height: auto;
        padding: 15px 25px;
        display: inline-block;
        cursor: pointer;
        font-style: normal;
    } 
    
    &:before {
        content: ' ';
        border: 2px solid #000;
        display: block;
        position: absolute;
        left: 3px;
        top: -4px;
        width: 100%;
        height: 100%;
        opacity: 0.7;
        background: transparent;
        border-radius: 25px;
    }
    
    &.green {
        background: $green;
    }
    &.blue {
        background: $blue;
    }
    &.white {
        background: $white;
        
        a {
            color: $dark-grey !important;
        }
    }
    
    &.slim {
        a {
            padding: 8px 25px;
            font-size: 16px;
        }
    }
    
    &.light {
        &:before {
            border-color: $white;
            left: 0;
            top: 0;
        }
        
        a {
            font-size: 16px;
        }
    }
    
    .swing {
        &:before {
            transform-origin: top center;
            animation-name: swing;
            animation-duration: 1s;
            animation-fill-mode: both;
        }
    }
    
    &:hover {
        background: $dark-green;
    }
}



/************************
* HOMEPAGE
************************/
.page-home #headerwrap .overlay,
.home #headerwrap .overlay {
    height: 100vh;
} 

/*******************
* TESTIMONIALS SECTION
****************/
#testimonials {
    padding: 100px 0;
}

/*******************
* PHOTOWRAP SECTION
*******************/
#photowrap {
    padding: 150px 0;
}

#call-to-action {
    background: $dark-grey;
    padding: $padding-section;
    color: $white;

    .container {
        h2 {
            color: $white;
            font-style: italic;
            text-transform: none;
            font-weight: normal;
        }
    }
    
    .call-left,
    .call-right {
        height: 400px;
        
        p {
            color: $white;
        }
    }
    
    .call-left {
        background: #694ea0;
    }
    
    .call-right {
        background: $dark-grey;
        padding-right: 0;
    }
    
    .call-content {
        padding: 0 50px;
    }
}





/***********************
* COMPATIBILITY SECTION
***********************/
#compatibility {
    padding-bottom: 100px;
    
    h2 {
        color: $purple;
    }
    
    p {
        font-style: italic;
    }
    
    
    .devices {
        border-right: 3px dashed $purple;
        
        span {
            color: $grey;
            padding-left: 15px;
        }
    }
    
    .browsers {
        img {
            width: 50px;
        }
    }
}


/********************
* PRE-FOOTER SECTION
********************/
#pre-footer {
    position: relative;
    background: $dark-white;
    padding: 60px 0 50px 0;
    font-size: 16px;

    .link-footer-try {
        color: $green;
        
        &:hover {
            color: $dark-green;
        }
    }
    
    ul {
        padding-left: 0;
        list-style-type: none;
        margin-top: 24px;
        
        li {
            line-height: 1.8;
            
            a {
                color: $dark-grey;
                text-decoration: none;
                
                &:hover {
                    color: $green;
                }
            }
        }
    }
    
    h3 {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: bold;
    }
    
    &:before {
        width: 100px;
        height: 100px;
        position: absolute;
        top: 0;
        left: 50%;
        z-index:300;
        transform: translate(-50%, -50%);
        border-radius: 90%;
        content: '';
        background: $dark-white;
        background-image: url(../img/coin.png);
        background-repeat: no-repeat;
        background-position: center center;
        transition: all .3s cubic-bezier(1, 2.57, 0.46, 0.1);
    }

    &:hover:before {
//        transform: translate(-50%, -50%) rotate(45deg);
        animation-name: bounce;
        transform-origin: center center;
        animation-duration: 1s;
        animation-fill-mode: both;
    }
}



/****************
* FOOTER SECTION
****************/
footer {
    background: $dark-grey;
    color: $grey;
    text-align: center;
    padding: 2px 0;
    font-size: 16px;
    
    p {
        margin: 20px 0;
    }
}



.press-release {
    background-color: $white;
    background-position: 98% center;
    background-repeat: no-repeat;
    padding: 15px;
    margin-bottom: 20px;
    
    &.pdf {
        background-image: url(../img/icon-pdf.png);
    }
    &.web {
        background-image: url(../img/icon-web.png);
    }
    
    &:hover {
        box-shadow: 0px 2px 6px $grey;
//        margin-top: -5px;
//        margin-bottom: 25px;
        margin-left: 10px;
    }
    
    p {
        margin: 0;
    }
    
    .title {
        font-weight: bold;
    }
    .posted-on,
    .posted-by {
        color: $grey;
    }
}

.release-meta {
    margin-top: 10px;
    
    .posted-on {
        text-transform: uppercase;
    }
}


#content-home-2 {
    background: $white;
    padding: 100px 0;

    h2 {
        margin-bottom: 30px;
    }
}

/* TODO: Sort out following page partials */
.page-home, .page-teachers, .page-parents, .page-stories, .page-press {
    #content-home {
        background: $dark-white;
        padding: 100px 0;
        
        a {
            color: $dark-grey;
        }
    }
}

.page-home, .page-teachers, .page-parents {
    #photowrap h2 {
        color: $white;
        font-style: italic;
        text-transform: none;
        font-weight: normal;
    }
    
    #content-home,
    #content-home-2 {
        ul {
            margin-left: 0;
            padding-left: 0;
            list-style-type: none;
            
            li {
                padding-left: 60px;
                margin-top: 30px;
                line-height: 30px;
                background-image: url(../img/coin.png);
                background-repeat: no-repeat;
                background-size: 30px 30px;
                background-position: 10px;
            }
        }
    }
}

.btn-play {
    a {
        display: block;
        position: relative;
        background-image: url(../img/btn-play.png);
        height: 56px;
        width: 56px;
        top: 100px;
        left: 50%;
        transform: translate(-50%, 0);
        
        &:hover {
            opacity: .8;
        }
    }
}


.page-contact {
    section.container {
        padding-bottom: 140px;
    }
}
.page-contact .contact-info {
    img {
        border-radius: 90px;
        height: 100px;
        width: 100px;
        border: 6px solid #eee;
        transform: translate(-20px,0);
    }
    
    h4 {
        text-transform: uppercase;
    }
    
    a {
        display: inline-block;
    }
    
    .contact-email {
        font-weight: bold;
        color: $green;
    }
    
    .contact-phone {
        margin-top: 10px;
    }
}
    






.page-about {
    #call-to-action {
        padding: 0;
        
        h2 {
            text-transform: uppercase;
            color: $white;
            font-weight: 700;
        }
        
        p {
            font-weight: 400;
        }
        
        a {
            font-weight: 600;
            color: $white;
            display: block;
            
            &:nth-of-type(2) {
                margin-top: 10px;
                text-decoration: underline;
            }
        }
    }
    
    #content-team {
        background: $dark-white;
    }
    
    #wrapper-team {
        h2 {
            margin-bottom: 130px;
        }
        
        a {
            color: $green;
            font-weight: 400;
            &:hover {
                color: $dark-green
            }
            
            &.linkedin {
                color: $white;
            }
        }
    }
    
    .team-member {
        background: $dark-white;
        padding: 100px 30px 40px 30px;
        font-weight: 300;
        height: 500px;
        
        h3 {
            font-size: 22px;
            text-transform: uppercase;
            font-weight: 700;
        }
        
        h4 {
            font-weight: normal;
        }
        
        .social {
            margin-top: 16px;
            margin-bottom: 16px;
        }
        
        &:before {
            width: 150px;
            height: 150px;
            position: absolute;
            top: -60px;
            transform: translate(-50%, 0);
            content: '';
            background: $dark-white;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
            border-radius: 90%;
            border: 10px solid $dark-white;
        }
        
        &.louise:before {
            background-image: url(../img/contact/Louise-rounded.png);
        }
        &.kenneth:before {
            background-image: url(../img/contact/Kenneth-rounded.png);
        }
        &.michael:before {
            background-image: url(../img/contact/Michael-rounded.png);
        }       
        
//        &:hover {
//            background: $white;
//        }
        
        
//        &:hover:before {
//            background-size: 120%;
//            transition: all .2s ease-in-out;
//            border: none;
//        }
    }
        
}



.quote-card {
    height: auto;
    width: auto;
    line-height: 30px;
    display: inline-block;
    font-weight: 400;
    font-size: 18px;
    padding: 160px 60px 40px 60px;
    width: 100%;
    
    &.press {
        padding: 40px 60px 40px 60px;

        &:after {
            background-image: url(../img/contact/Michael-rounded.png);
            top: 21%;
        }
        
        h3 {
            margin-bottom: 200px;
        }
    }
    &.teachers {
        padding: 160px 60px 40px 60px;
        
        &:after {
            background-image: url(../img/contact/Kenneth-rounded.png);

        }
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        width: 100px;
        height: 100px;
        text-align: center;
        margin: 40px auto;
        border: 6px solid white;
        border-radius: 90%;
        background-size: contain;
    }
    
    &:hover:after {
        animation-name: pulse;
        transform-origin: center center;
        animation-duration: 0.5s;
        animation-fill-mode: both;
    }
    
    &.offset {
        position: relative;
        background: transparent;
        border: 2px solid #000;
        z-index: 1;
        color: $white;
        text-align: center;

        &:before {
            content: ' ';
            display: block;
            position: absolute;
            left: 6px;
            top: 6px;
            width: 100%;
            height: 100%;
            z-index: -1;
            opacity: 0.7;
            background: $blue-transparent;
        }
    }
    
    &:hover.offset:before {
// moves the background on hover
//        left: -6px;
//        top: -6px;
//        transition: all .1s ease-in-out;
    }

    a {
        text-align: center;
        color: $white !important;
        text-decoration: none;
        display: block;
    }
    
    h3, h4 {
        text-transform: uppercase;
        color: $white;
        font-weight: 700;
    }

    p {
        margin: 0 0 25px 0;
        font-size: 18px;
        font-weight: 100;
    }

    img {
        width: 100px;
        text-align: center;
        margin: 40px auto;
        border: 6px solid $white;
        border-radius: 90%;
    }
}


.page-teachers {
    .speech-bubble {
        padding: 30px;
        
        p {
            padding: 0;
        }
    }
}
.speech-bubble {
    height: auto;
    width: auto;
    line-height: 1.5;
    display: inline-block;
    font-size: 18px;
    font-style: italic;
    padding: 30px 30px 50px 30px;
    
    p {
        padding: 0 50px;
    }
    
    &.offset {
        position: relative;
        background: transparent;
        border: 2px solid #000;
        z-index: 1;
        color: $white;
        text-align: center;

        
        &:before {
            content: ' ';
            display: block;
            position: absolute;
            left: -6px;
            top: 6px;
            width: 100%;
            height: 100%;
            z-index: -1;
            opacity: 0.7;
            background: $green-transparent;
        }

        &:after {
            content: '';
            position: absolute;
            bottom: -62px;
            left: 130px;
            border-width: 60px 65px 0 0;
            border-style: solid;
            border-color: $green-transparent transparent;
            display: block;
            width: 0;
            opacity: 0.7;
        }
        
        // moves background on hover
//        &:hover:before {
//            top: -6px;
//            left: 6px;
//            transition: all .2s ease-in-out;
//        }
        
        &:hover:after {
            border: none;
        }
    }
}

.page-parents .speech-bubble {
     margin-top: 140px;
    
    &.offset:after {
        border-width: 60px 0 0 60px;
    }
}




.page-try {
    #wrapper-team {
        h2 {
            margin-bottom: 25px;
        }
        
        .instruction {
            background: $dark-white;
            height: 420px;
            font-size: 16px;
            padding: 35px;
            
            &.ipad {
                color: $white;
                background: url(../img/instructions/photo-tip.jpg);
                background-size: contain;
                
                p {
                    font-style: italic;
                }
                
                h3 {
                    text-transform: uppercase;
                    color: $white;
                    margin-bottom: 30px;
                }
            }
            
            img {
                margin-bottom: 25px;
                width: 150px;
            }
            
        }
    }
}




.page-stories {
    background: $dark-white;

    
    .nav-pills {
        
        li {
            background: $purple;
            &.active a {
                background: $purple;
            }
            
            a {
                color: $white;
                padding: 15px;
            }
        }
        
        li:first-of-type {
            border-radius: 90px 0 0 90px;
            border-right: 2.5px solid $white;
            
            &.active a,
            &>a:hover,
            &>a:focus {
                border-radius: 90px 0 0 90px;
            }
        }
        li:nth-of-type(2) {
            border-radius: 0 0 0 0;  
            border-right: 1px solid $white;
            border-left: 1px solid $white;
            
            &.active a,
            &>a:hover,
            &>a:focus {
                border-radius: 0 0 0 0;            
            }
        }
        li:last-of-type {
            border-radius: 0 90px 90px 0;            
            border-left: 2.5px solid $white;

            &.active a,
            &>a:hover,
            &>a:focus {
                border-radius: 0 90px 90px 0;            
            }
        }
        
    }
    
    .nav>li>a:hover,
    .nav>li>a:active,
    .nav>li>a:focus {
        background: $dark-purple;
    }
    
    .story {
        background: $white;
        padding: 35px;
        margin-top: 35px;

        &:hover {
            margin-top: 30px;
            box-shadow: 0px 6px 15px $grey;
        }
        
        h2 {
            font-size: 20px;
        }
        
        p {
            font-style: italic;
        }
        
        a {
            color: $dark-grey;
            background: $white;
            background-image: url(../img/coin.png);
            background-size: 13%;
            background-position: 10px;
            background-repeat: no-repeat;
            display: block;
            padding: 8px;
            margin: 0 auto 15px;
            margin-bottom: 15px;
            font-size: 14px;
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;
            border: 2px solid $dark-grey;
            border-radius: 90px;
            width: 80%;
            
            &.pdf {
                background-image: url(../img/icon-pdf.png);
            }
            
            &.audio {
                background-image: url(../img/icon-audio.png);
            }
            
            &.app {
                margin-bottom: 0;
                background-image: none;
            }
        }
    }
    
    .dl-all {
        color: $dark-grey;
        background: $white transparent;
        background-size: 35px;
        background-position: 16px;
        background-repeat: no-repeat;
        display: block;
        padding: 10px 10px 10px 80px;
        margin: 0 auto;
        font-size: 18px;
        font-weight: bold;
        text-align: left;
        text-transform: uppercase;
        border: 2px solid $dark-grey;
        border-radius: 90px;
        width: 100%;
        
        &.pdf {
            background-image: url(../img/icon-pdf.png);
        }
        
        &.audio {
            background-image: url(../img/icon-audio.png);
        }
    }
}

.dl-all,
.story a {
    &:hover {
        background-color: $purple;
        color: $white;
        background-size:20%;
        background-position: 6px;
    }
}








.page-intro {
    #headerwrap {
        h1, h2, p {
            color: $dark-grey;
            text-transform: none;
        }
        p {
            font-style: italic;
            font-size: 18px;
            padding-top: 10px;
            padding-bottom: 12px;
        }
        
        .intro-card {
            h2 {
                text-transform: uppercase;
            }
        }
        .intro-card:hover {
            h2, p {
                color: $white;
            }
        }
        img {
            top: auto;
            width: 150px;
            margin-bottom: 50px;
        }
        .overlay {
            background-color: transparent;
        }
        .container {
            margin-top: 0;
        }
        
    }
    
    &.page-home {
        #headerwrap {
            .overlay {
                height: 90vh;
                
                @media (max-width: 992px) {
                    height: 100%;
                    padding-bottom: 100px;
                }
            }
        }
    }
}

.intro-card {
    background: $dark-white;
    padding: 210px 0 30px 0;
    
    a {
        border-radius: 90px;
        padding: 28px;
        font-size: 22px;
        color: $white;
        text-transform: uppercase;
        display: block;
        width: 33%;
        margin: 10px auto 0 auto;
        font-weight: bold;
        position: relative;
        z-index: 5;
        
    }

    &.right a:after,
    &.left a:after {
        border: 2px solid $dark-grey;
        background: transparent;
        content: 'ENTER';
        height: 100%;
        width: 100%;
        position: absolute;
        top: -3px;
        right: -3px;
        padding-top: 10px;
        border-radius: 90px;
        z-index: 2;
    }
    
    &.left a {
        background: $green;
    }
    &.right a {
        background: $purple;
    }
    
    &:before {
        content: '';
        width: 170px;
        height: 170px;
        display: inline-block;
        position: absolute;
        top: 30px;
        transform: translate(-50%, 0);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }
    
    &.left:before {
        background-image: url(../img/intro-student.png);
    }
    &.right:before {
        background-image: url(../img/intro-teacher.png);
    }
    
    &.left:hover {
        background-color: $green;

        & a:after {
            background-color: $dark-green;
        }
    }
    &.right:hover {
        background-color: $purple;
        
        & a:after {
            background-color: $dark-purple;
        }
    }
}




.page-press {
    #content-home-2 {
        img {
            width: 100%;
            padding: 55px;
            background: $dark-white;
        }
        
        h3 {
            text-transform: uppercase;
            margin-bottom: 40px;
        }
        
        & .asset-logo-white {
            img {
                background: $dark-grey;
            }
        }
    }
    
    #content-home {
        h2 {
            margin-bottom: 30px;
            
        }
    }
}
/* eo page partials */
    

@import 'plug-ins/wcp_style';


@keyframes bounce {
    from, 20%, 53%, 80%, to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transform: translate(-50%,-50%) translate3d(0,0,0);
    }

    40%, 43% {
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate(-50%,-50%) translate3d(0, -40px, 0) rotateZ(60deg);
    }

    70% {
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate(-50%,-50%) translate3d(0, -25px, 0) rotateZ(55deg);
    }

    90% {
        transform: translate(-50%,-50%) translate3d(0,-14px,0) rotateZ(45deg);
    }
}

@keyframes pulse {
    from {
        transform: translate(-50%, 0) scale3d(1, 1, 1);
    }

    50% {
        transform: translate(-50%, 0) scale3d(1.05, 1.05, 1.05);
    } 

    to {
        transform: translate(-50%, 0) scale3d(1, 1, 1);
    }
}

@keyframes swing {
    20% {
        transform: rotate3d(0, 0, 1, 15deg);
    }

    40% {
        transform: rotate3d(0, 0, 1, -10deg);
    }

    60% {
        transform: rotate3d(0, 0, 1, 5deg);
    }

    80% {
        transform: rotate3d(0, 0, 1, -5deg);
    }

    to {
        transform: rotate3d(0, 0, 1, 0deg);
    }
}